{% load otree %}


{% block style %}
    <style>
      .form-control {
        width: 100px;
      }
    </style>

{% endblock %}
{% block content %}

        <h1> Part 2 </h1>
    <div class="card bg-light m-3">
    <div class="card-body">
            Great! You have completed the practice session. You are now ready to start Part 2.
</div>
    </div>
    <div class="card bg-light m-3">
    <div class="card-body">
            Part 2 consists of four tasks.
        At the end of the study, if this part is selected for payment,
            you will make a random selection across the four tasks.
        Then, the outcome from your selected task will determine your earnings.
<br>
</div>
    </div>
          <button  class="button btn btn-primary">
      Start </button>

{% endblock %}
