{% extends "global/Page.html" %}
{% load otree %}


{% block style %}
    <style>
      .form-control {
        width: 100px;
      }
    </style>

{% endblock %}
{% block content %}

        <h1> Part 2 </h1>
    <div class="card bg-light m-3">
    <div class="card-body">
            Great! You have completed Part 2.
        You will learn your results from Part 2 at the end of the experiment.
</div>
    </div>
    <div class="card bg-light m-3">
    <div class="card-body">
         Please continue to the survey part of the experiment.
</div>
    </div>
          <button  class="button btn btn-primary">
      Next </button>

{% endblock %}
{% block script %}

<script>

</script>
{% endblock %}